div.row
  div.col-xs-12
    from('[formGroup]'='recipeForm')
      div.row
        div.col-xs-12
          button.btn.btn-success((click)='onFormSubmit()', '[disabled]'='!recipeForm.valid') Save
          button.btn(type='button', (click)='onCancel()') Cancel

      div.row
        div.col-xs-12
          div.form-group
            label(for='name') Name
            input.form-control(type='text' id='name' formControlName='name' placeholder='Enter recipe name...')

      div.row
        div.col-xs-12
          div.form-group
            label(for='imagePath') Image URL
            input.form-control(type='text' id='imagePath' formControlName='imagePath' placeholder='Enter image URL...', #imagePath)

      div.row
        div.col-xs-12
          img.img-responsive('[src]'='imagePath.value')

      div.row
        div.col-xs-12
          div.form-group
          label(for='description') Description
          textarea.form-control(
            type='text',
            id='description', 
            rows='6',
            formControlName='description',
            placeholder='Enter recipe description...'
          )

      div.row.ingredients
        div.col-xs-12(formArrayName='ingredients')
          div.row(
            '[formGroupName]'='i',
            *ngFor='let ingredientControl of controls; let i = index'
          )
            div.col-xs-2
              input#amount.form-control(type='number' formControlName='amount')
            div.col-xs-3
              select#unit.form-control(
                autocomplete='off',
                name='unit',
                required,
                formControlName="unit"
              )
                option(*ngFor='let unit of unitOfMeasure', [value]="unit") {{ unit }}
            div.col-xs-5
              input#name.form-control(type='text' formControlName='name', placeholder='Enter ingredient...')
            div.col-xs-2
              button.btn.btn-danger((click)='onDeleteIngredient(i)' type='button') X

      div.row
        div.col-xs-12
          button.btn.btn-primary.add-ingredient((click)='onAddIngredient()' type='button') Add Ingredient

      hr

      div.row
        div.col-xs-12
          button.btn.btn-success((click)='onFormSubmit()', '[disabled]'='!recipeForm.valid') Save
          button.btn(type='button', (click)='onCancel()') Cancel