div.row
  div.col-xs-12
    form(
      #form='ngForm',
      (ngSubmit)='onUpsertIngredient(form)'
    ) 
      label Add Ingredient
      div.row.add-ingredient
        .col-sm-2.form-group
          label(for='amount') Amount
          input#amount.form-control(
            type='number', 
            autocomplete='off',
            name='amount',
            required,
            pattern='^[0-9.]+[0-9]*$',
            ngModel,
            min="1"
          )
        
        .col-sm-2.form-group
          label(for='unit') Unit
          select#unit.form-control(
            autocomplete='off',
            name='unit',
            required,
            ngModel
          )
            option(*ngFor='let unit of unitOfMeasure', [value]="unit") {{ unit }}

        .col-sm-5.form-group
          label.white-text(for='name') Name
          input#name.form-control(
            type='text', 
            autocomplete='off', 
            name='name',
            required,
            ngModel,
            placeholder='Enter ingredient...'
          )
      .row
        .col-xs-12
          button.btn.btn-success(
            type='submit', 
            [disabled]='!form.valid'
          ) {{ editMode ? 'Update' : 'Add' }}
          button.btn.btn-danger(
            type='button',
            (click)='onDelete()',
            *ngIf='editMode'
          ) Delete
          button.btn(
            type='button', 
            (click)='onClear()'
          ) Clear