.row
  .col-xs-12
    form(
      #form='ngForm',
      (ngSubmit)='onUpsertIngredient(form)'
    )
      .row
        .col-sm-5.form-group
          label(for='name') Name
          input#name.form-control(
            type='text', 
            autocomplete='off', 
            name='name',
            required,
            ngModel
          )

        .col-sm-2.form-group
          label(for='amount') Amount
          input#amount.form-control(
            type='number', 
            autocomplete='off',
            name='amount',
            required,
            pattern='^[1-9]+[0-9]*$',
            ngModel
          )
      .row
        .col-xs-12
          button.btn.btn-success(
            type='submit', 
            [disabled]='!form.valid'
          ) {{ editMode ? 'Update' : 'Add' }}
          button.btn.btn-danger(
            type='button',
            (click)='onDelete()',
            *ngIf='editMode'
          ) Delete
          button.btn.btn-primary(
            type='button', 
            (click)='onClear()'
          ) Clear