div.row
  div.col-xs-12
    form(
      #form='ngForm',
      (ngSubmit)='onUpsertIngredient(form)'
    ) 
      label Add Ingredient
      div.row.add-ingredient
        div.col-sm-5.form-group
          label(for='name') Name
          input#name.form-control(
            type='text', 
            autocomplete='off', 
            name='name',
            required,
            ngModel,
            placeholder='Enter ingredient name...'
          )

        .col-sm-2.form-group
          label.white-text(for='amount') Amount
          input#amount.form-control(
            type='number', 
            autocomplete='off',
            name='amount',
            required,
            pattern='^[1-9]+[0-9]*$',
            ngModel,
            placeholder='Amount...'
          )
      .row
        .col-xs-12
          button.btn.btn-success(
            type='submit', 
            [disabled]='!form.valid'
          ) {{ editMode ? 'Update' : 'Add' }}
          button.btn.btn-danger(
            type='button',
            (click)='onDelete()',
            *ngIf='editMode'
          ) Delete
          button.btn(
            type='button', 
            (click)='onClear()'
          ) Clear